/* Semantic Elements */
nav {
    display: none;
    text-align: left;
    position: fixed;
    top: 40px;
    z-index: 10;
    font-size: 14pt;
    width: 100%;
}

#navcheck:checked~nav {
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 28px;
    margin: 0px;
}

body {
    border: 3px solid yellow;
}

main {
    padding: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

label, nav, header, footer {
    background-color: #d8d802;
}

/* Text */
nav a {
    color: black;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    text-decoration: underline;
}

/* Change the color of the links. They don't stand out enough. */
a {
    color: darkgreen;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3, h2 {
    text-align: center;
}

header h2 {
    opacity: 0.7;
    line-height: 1.25;
    margin-top: 0px;
}

figcaption {
    font-size: 10pt;
}

.card h3 {
    text-decoration: underline;
}

.disclaimer {
    font-size: 8pt;
}

/* Images */
img {
    width: 90%;
    border: 4px solid green;
    border-radius: 10px;
}

#about-me img {
    object-position: 20%;
}

/* Containers */
.programing {
    border: 2px solid black;
    padding: 3px;
    justify-self: center;
    width: 90%;
}

td, th {
    border: 2px solid black;
    padding: 3px;
}

td {
    text-align: center;
}

#heading {
    display: flex; 
    order: 2; 
    flex-direction: column; 
    justify-self: center; 
    text-align: center;
}

#anchor {
    display: flex;
    flex-direction: column;
    font-size: 10pt;
    margin-left: 10px;
}

#contact {
    margin-left: 20px;
    margin-top: 1px;
}

#first-row, #second-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 19px;
    width: 100%;
}

#bnb, #pawfect-pet-care {
    width: 85%;
}

.card {
    border: 5px solid black;
    background-color: white;
    text-align: center;
    width: 40%;
    margin: 5px;
}

#bio, #accomplishments, #languages {
    margin-bottom: 15px;
}

#socials {
    margin-top: 2px;
}

/* Other */
#navcheck {
    display: none;
}

label {
    display: flex;
    align-self: start;
    position: fixed;
    top: 0px;
    font-size: 30px;
    width: 96.75%;
}

label, nav {
    position: fixed;
    left: 8px;
}

.card button {
    background-color: green;
    font-size: 20px;
}

/* Media Queries */
@media (min-width: 720px) { 
    body {
        background-color: grey;
        color: black;
        border-color: yellow;
    }

    header, nav, footer, label {
        background-color: #999900;
    }

    header, nav, label {
        color: black
    }

    .programing, th, td, tr {
        border-color: white;
    }

    .programing {
        width: 60%;
    }
    
    #bio img {
        width: 70%;
        float: left;
        margin-right: 10px;
        display: flex;
        align-self: start;
    }

    #accomplishments {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #accomplishments img {
        width: 70%;
        float: right;
    }

    #responsive, #non-responsive, #client {
        width: 100%;
        position: relative;
        left: 1.5rem;
        color: black;
    }

    /* Remove or edit this CSS once I have more client websites. */
    #the-lost-coin {
        justify-self: center;
    }

    #fit-for-fitness, #about-a-company {
        margin-left: 1.25rem;
    }

    #accomplishments h3 {
        width: 100%;
    }
}

@media (min-width: 920px) {
    body {
        background-color: black;
        color: white;
    }

    header {
        margin-top: 0px;
    }

    nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: sticky;
        top: 0px;
        align-items: center;
        justify-content: center;
    }

    nav a {
        margin: 0 5px;
    }

    a {
        color: green;
    }

    label {
        display: none;
    }

    #anchor {
        display: none;
    }

    figure {
        width: 40%;
    }

    #bio figure {
        padding: 10px;
        margin: 10px;
    }

    figcaption {
        border: 4px solid lightgreen;
        border-radius: 10px;
    }

    #bio p {
        position: relative;
        left: 3px;
    }

    ul {
        position: relative;
        left: 13px;
    }

    #accomplishments, #languages {
        width: 50%;
    }

    #accomplishments figure {
        width: 90%;
    }

    #flex {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    span {
        text-align: left;
    }

    #first-row, #second-row {
        flex-direction: row;
    }

    .card, #bnb, #pawfect-pet-care {
        width: 30%;
    }

    .card {
        background-color: darkgrey;
    }
}